@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  list-style: none;
  scroll-padding-top: 80px;
  font-family: 'Raleway', sans-serif;

}

html {
  scroll-behavior: smooth !important;
}


/* custom scrollbar */
::-webkit-scrollbar {
  width:5px;
  background: #1A1A1B;
}
 

::-webkit-scrollbar-thumb {
  background: #CC9544; 
  border-radius: 4px;

}
