@tailwind base;
@tailwind components;
@tailwind utilities;



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  list-style: none;
  scroll-padding-top: 80px;

}

html {
  scroll-behavior: smooth !important;
}

::-webkit-scrollbar {
  display: none;
}

